<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('static', filename = '/css/ass.css')}}" rel="stylesheet" >
    <link rel="shortcut icon" href="/img/image1.jpg" type="image/x-icon">
</head>
<body class="brit">
    <h2>Welcome to my website</h2>
    <p>Its all about supporting an online web and it gives great results</p>
    <form id="brit">
        <p>name</p><input type="text">
        <p>email</p><input type="email">
        <p>password</p><input type="password" placeholder="sharlyne7@gmail.com">
        <br>
        <a href="/index1.html">forgot password</a>
        <br>
        <button>sign up</button>   
    </form>
</body>
</html>
    