<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/img/image1.jpg" type="image/x-icon">

</head>

<body>
    <div class="blossoms">
        <h1>BLOSSOMS OF THE SAVANNAH</h1>
        <p>Taiyo and Resian lived with their parents mr and mrs ole kaelo in nakuru <br> and one day they had to
            relocate since their papa had been retrenched from the agribix company <br> .they had to move to their
            village Nasila where their relatives lived because it was their native land <br> .A home coming ceremony was
            held and they were welcomed by their uncles and aunts <br> .resian realized that one of her uncles wife was
            pregnant <br> .They were faced by several challenges like the attack by two vagabonds.
        </p>
    </div>
    <div class="img">
        <img src="/img/image1.jpg" alt="" height="150px" width="150px">
    </div>

    <div id="savannah">
        <button>sign in</button>
        <p>Joseph parmuat who was resian and taiyos cousin was given a responsibility to teach the girls about their
            tradition <br> since they had been away since birth so they didnt know about the nasilian culture <br>
            their mother was told to prepare the girls for the female genital mutilation in which the girls were against
            <br> it and they planned on escaping but Taiyo was not lucky since she was forced <br> but resian with the
            help of her nurse was able to go to emakererei <br> and was later taken to their dream university to persue
            their dream courses
        </p>
    </div>
    <div class="flex">
        <div id="empty"></div>
        <div id="empty1"></div>
    </div>
    <div class="flex">
        <div id="empty2"></div>
        <div id="empty3"></div>
    </div>
    <marquee>hello, welcome here</marquee>
    <div class="robby">
        <table>
                <tr >
                    <th>Name</th>
                    <th>age</th>
                    <th>Occupation</th>
                </tr>
                <tr>
                    <td>Sharline</td>
                    <td>20</td>
                    <td>Nurse</td>
                </tr>
                <tr>
                    <td>Sharline</td>
                    <td>20</td>
                    <td>Nurse</td>
                </tr>
                
        </table>
    </div>

</body>

</html>