<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="file.css">
</head>
<body>
    <h1>A DOLLS HOUSE</h1>
    <div class="dolls">
    <p>its the christmas eve and nora goes out for shopping and when she returns <br> she brings a christmas tree and tells the maid to decorate the tree and hide it from the kids and torvald enters the living <br> room and asks nora if she has been nibbling macaroons which he had forbidden her but she denies it we later realize that nora <br> had borrowed krogstad 250 pounds that she used to take her husband torvald to the south when he had overworked himself and had even <br> signed the papers by vourging her fathers signature that was a big mistake equivalent to judgement </p></div>
<div class="img">
    <img  src="{{url_for('static', filename='img/image1.jpg') }}" alt="" height="150px" width="150px">
</div>  

    <table id="line">
        <tr>
            <th>name</th>
            <th>location</th>
            <th>age</th>
            <th>occupation</th>
        </tr>
        <tr>
            <td>sharlyne</td>
            <td>cheptalal</td>
            <td>19</td>
            <td>clinical officer</td>
        </tr>
    </table>
    <div class="diva">
        <div class="empty"></div>
        <div class="empty1"></div>
        </div>
        <div class="diva">
        <div class="empty2"></div>
         <div class="empty3"></div>
         </div>
    </div>
    <a href="/login form/login.html">Go to login page</a>

    
</body>  
</html>