<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sharl.css">
    <link rel="shortcut icon" href="/img/Snapchat-993340356.jpg" type="image/x-icon">
    <style>
        body{
            background-image: url(/img/DSC_3833.jpg);
            background-repeat:no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body  >
    <h1>SIGN UP TO ACCESS YOUR DASHBOARD</h1>
    <div class="robbi">
        <form action="/sign_up" method="post">
            <label for="name">Name:</label><input name="name" type="text">
            <label for="email">Email:</label><input name="email" type="email">
            <label for="password">Password:</label><input name="password" type="password">
             <br>
            <a href="">repeat password</a>
            <br>
            <button>sign up</button>
        </form>
    </div>
</body>
</html>